node_modules
npm-debug.log
yarn.lock
*data.json
*data*
*.db
.idea/
*.bak
*.new
*.log
v8.json
*.DS_store
isolate*.log
.esm-cache
.sessionStorage
.localStorage
/types/**/*.ts
!/types/**/*.d.ts
!/types/**/*.test-d.ts
/gun.ts
/temp/



extension/TMP-webgl-instancing.html
extension/aethiop.html
extension/app-2.html
extension/aslan.html
extension/aslan2.html
extension/blahblah.html
extension/darius.html
extension/demo.html
extension/dmitry.html
extension/examples
extension/trial
extension/game1.html
extension/game2.html
extension/game3.html
extension/glay.html
extension/test-delete.html
extension/test_webgl.html