node_modules
npm-debug.log
yarn.lock
*data.json
*data*
*.db
.idea/
*.bak
*.new
*.log
v8.json
*.DS_store
isolate*.log
.esm-cache
.sessionStorage
.localStorage
/types/**/*.ts
!/types/**/*.d.ts
!/types/**/*.test-d.ts
/gun.ts
/temp/



tmp/TMP-webgl-instancing.html
tmp/aethiop.html
tmp/app-2.html
tmp/aslan.html
tmp/aslan2.html
tmp/blahblah.html
tmp/darius.html
tmp/demo.html
tmp/dmitry.html
tmp/examples
tmp/trial
tmp/game1.html
tmp/game2.html
tmp/glay.html
tmp/test-delete.html
tmp/test_webgl.html